* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2ca99;
}

.section1 {
  padding: 60px;
}

.section2 {
  margin: auto;
  width: 800px;
}

.review-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inp {
  outline: none;
  border: none;
  padding: 10px;
}

.btn {
  border: none;
  margin-left: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: #3d2e29;
  color: white;
}

.main-login {
  display: flex;
  justify-content: right;
  margin-right: 40px;
  color: rgb(0, 0, 0);
}

.login {
  margin-right: 20px;
  cursor: pointer;
  font-weight: lighter;
  transition: transform 300ms ease-in;
}

.login:hover {
  color: rgb(249, 135, 68);
  transform: scale(1.2);
}

.logout {
  cursor: pointer;
  font-weight: lighter;
  transition: transform 250ms ease-in;
}

.logout:hover {
  color: rgb(249, 135, 68);
  transform: scale(1.2);
}

.title {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: normal;
  padding: 0;
  margin-top: 80px;
}

.border {
  background-color: rgb(255, 255, 255);
  margin-right: 50px;
  margin-left: 50px;
  opacity: 0.6;
}

.main-list {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 920px;
  height: 600px;
  margin: auto;
}

.img {
  border-radius: 10%;
  margin: 20px;
  width: 1500px;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
}

.detail-info {
  height: 560px;
  border: 1px solid blue;
  margin-top: 20px;
  margin-right: 20px;
}

#restaurant_info {
  height: 110px;
  border: 1px solid red;
}

#menu_list {
  border: 1px solid black;
  height: 450px;
  overflow: scroll;
}

#menu_list::-webkit-scrollbar {
  width: 0px;
}

.restaurant-menu {
  width: 800px;
  height: 330px;
}

.menu-info {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 70px;
  margin-left: 20px;
  margin-top: 45px;
}

.section3 {
  border: 1px solid black;
  margin: auto;
  width: 800px;
  height: 265px;
  margin-top: 20px;
  padding: 50px;
}

.review-box div + div {
  margin-top: 10px;
}

.review-content {
  background-color: #ffffff;
  color: #3d2e29;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}
